# Environnements virtuels
.venv/
venv/
env/

# DBT compilations & artefacts
target/
dbt_packages/
logs/

# Bases locales (DuckDB, SQLite…)
*.duckdb

# Fichiers système / cache
.DS_Store
__pycache__/
*.pyc

# Other
script

data/raw/communes.geojson
data/raw/departements.geojson